@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@300;400;500;600;700&display=swap");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/btn.css");
@import url("components/btn2.css");
@import url("components/card.css");
@import url("components/cards.css");
body, p{
	font-family: "Lora", serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3{
	  font-family: "Roboto", serif;
	  font-weight: bolder;
}


@media(max-width : 900px){
	.container{
		width: 600px;
	}
	
	}
}
@media(max-width : 500px){
	.container{
		width: 400px;
	}





/*flex box : justify-content around or between,
align-items : flex-start or end or center 
flex-grow: 1 